
.Title
{
    font-weight: bold;
    padding-bottom: 30px;
    border: none;
}
input[type="reset"]  {
    width: 100px;
    height: 2em;
    margin: 10px;
    background-color: lightgray;
}
input[type="text"] {
    width: 200px
}
select {
    width: 250px;
    margin-left: 20px;
}