
div.Name
{
    font-weight: bold;
    padding-bottom: 10px;
    border: none;
}
.ProductCard
{
    padding: 2px 0;
    background-color: #F0F0F0;
    border: 2px solid dimgray;
    width: 600px;
    height: 210px;
}
input {
    position: absolute;
    left: 105px;
    width: 250px;
}
button {
    background-color: lightgray;
    width: 75px;
    height: 26px;
}