
.Title
{
    font-weight: bold;
    padding-bottom: 30px;
    border: none;
}

.ShopBlock.Product
{
    padding: 2px 0;
    background-color: transparent;
}
td, th {
    width: 140px;
    height: 2em;
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    border-collapse: collapse;
}
input[type='button'].EditButton {
    width: 50px;
    height: 2em;
    background-color: lightgray;
}
input[type='button'].ActionButton {
    width: 80px;
    height: 2em;
    margin-left: 3px;
    background-color: lightgray;
}
tr.Selected {
    background-color: darkorange;
}
td.Control {
    width: 200px
}