
div.Name
{
    font-weight: bold;
    padding-bottom: 10px;
    border: none;
}
.ProductCard
{
    padding: 2px 0 2px 5px;
    background-color: #F0F0F0;
    border: 2px solid dimgray;
    width: 600px;
    height: 210px;
}
input[type='text'], input[type='number'] {
    position: absolute;
    left: 108px;
    width: 150px;
}
input[type='button'] {
    background-color: lightgray;
    width: 75px;
    height: 26px;
}
span.Reply {
    color: red;
    position: absolute;
    left: 270px;
}
.Title
{
    font-weight: bold;
}