div.AllMusic {
    flex: 1;
    background-color: dimgrey;
    text-align: center;
    color: white;
    margin-top: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
    margin-top: 0;
    padding: 20px;
}

td, th {
    height: 2em;
    border: 1px solid darkcyan;
    border-collapse: collapse;
}
th {
    color: black;
    outline-color: white;
}
.Order {width: 5%}
.Song {width: 25%}
.Artist {width: 20%}
.Album {width: 20%}
.Year {width: 5%}
.Genre {width: 10%}
.Control {width: 5%}

input[type='button'] {
    padding: 5px;
    margin: 7px;
    width: 12vw;
    height: 5vh;
}
button {
    padding: 5px;
    margin: 7px 0 7px 0;
    width: 11vw;
    height: 5vh;
}
button:focus {
    background-color: mediumseagreen;
    outline-color: mediumseagreen;
}
@media only screen and (min-width: 1400px) {
    div.AllMusic {
        font-size: 1.2em;
    }
    input[type='button'], button {
        font-size: 1.1em;
    }
}
@media only screen and (min-width: 1400px) {
    div.AboutUs {
        font-size: 1.1em;
    }
    input[type='button'], button {
        font-size: 1em;
    }
}
@media only screen and (max-width: 1400px) {
    div.AllMusic {
        font-size: 1em;
    }
    input[type='button'], button {
        font-size: 0.95em;
    }
}
@media only screen and (max-width: 960px) {
    div.AllMusic {
        font-size: 0.9em;
    }
    input[type='button'], button {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 760px) {
    div.AllMusic {
        font-size: 0.85em;
    }
    input[type='button'], button {
        font-size: 0.85em;
    }
}
@media only screen and (max-width: 500px) {
    div.AllMusic {
        font-size: 0.8em;
    }
    input[type='button'], button {
        font-size: 0.8em;
    }
}