.ActionButton{
    background-color: mediumseagreen;
    color: white;
    font-size: medium;
    width: 100px;
    height: 2em;
    outline: none;
}
.Field {
    height: 2em;
    outline-color: darkcyan;
    width: 15%;
    font-size: 0.75em;
    margin: 10px;
}