div {
    background-color: dimgrey;
    min-height: calc(10px + 72vmin);
    text-align: center;
    color: white;
    margin-top: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.2em;
}
p {
    margin-top: 0;
    padding: 20px;
}

td, th {
    height: 2em;
    border: 1px solid darkcyan;
    border-collapse: collapse;
}
th {
    color: black;
    outline-color: white;
}
.Order {width: 5%}
.Song {width: 25%}
.Artist {width: 20%}
.Album {width: 20%}
.Year {width: 5%}
.Genre {width: 10%}
.Control {width: 5%}

span.Reply {
    position: absolute;
    left: 0.5em;
    color: red;
    font: bold 15px arial,sans-serif;
    margin-left: 1em;
}
label {
    position: absolute;
    left: 1em;
    margin: 1em;
    color: black;
    font: bold 15px arial,sans-serif
}
div.Form {
    border: 2px solid darkcyan;
    width: 20%;
    height: 15%;
}
.Field {
    position: absolute;
    left: 0.5em;
    height: 1.5em;
    outline-color: darkcyan;
    font-size: 0.65em;
    margin: auto;
}
.InvalidDataField {
    position: absolute;
    left: 0.5em;
    height: 1.5em;
    font-size: 0.65em;
    margin: auto;
    border: 1px solid red;
    outline-color: red;
}
.SaveButton{
    background-color: mediumseagreen;
    color: white;
    font-size: medium;
    width: 100px;
    height: 2em;
    outline: none;
    position: absolute;
    left: 2em;
}
tfoot {
    color: black;
}