div.Playlist {
    flex: 1;
    background-color: dimgrey;
    text-align: center;
    color: white;
    margin-top: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
p {
    margin-top: 0;
    padding: 20px;
}

td, th {
    height: 2em;
    border: 1px solid darkcyan;
    border-collapse: collapse;
}
th {
    color: black;
    outline-color: white;
}
.Order {width: 5%}
.Song {width: 25%}
.Artist {width: 20%}
.Album {width: 20%}
.Year {width: 5%}
.Genre {width: 10%}
.Control {width: 5%}

span.Reply {
    color: red;
    font-family: arial,sans-serif;
    font-weight: bold;
}
label {
    margin: 1em;
    color: black;
    font: bold 15px arial,sans-serif
}
div.Form {
    border: 1px solid darkcyan;
    margin: 3px;
    width: 80vw;
    text-align: left;
}
.Field {
    height: 2em;
    outline-color: darkcyan;
}
.InvalidDataField {
    height: 2em;
    border: 1px solid red;
    outline-color: red;
    margin: 1vh;
}
input.SaveButton{
    background-color: mediumseagreen;
    color: white;
    font-size: medium;
    width: 12vw;
    height: 5vh;
    outline: none;
}
tfoot {
    color: black;
}
@media only screen and (min-width: 1400px) {
    div.Playlist, label, input {
        font-size: 1.2em;
    }
}
@media only screen and (min-width: 1400px) {
    div.Playlist, label, input {
        font-size: 1.1em;
    }
}
@media only screen and (max-width: 1400px) {
    div.Playlist, label, input {
        font-size: 1em;
    }
}
@media only screen and (max-width: 960px) {
    div.Playlist, label, input {
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 760px) {
    div.Playlist, label, input {
        font-size: 0.85em;
    }
}
@media only screen and (max-width: 500px) {
    div.Playlist, label, input {
        font-size: 0.8em;
    }
}