div {
    background-color: dimgrey;
    min-height: calc(10px + 72vmin);
    text-align: center;
    color: white;
    margin-top: 0;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 1.2em;
}
p {
    margin-top: 0;
    padding: 20px;
}

td, th {
    height: 2em;
    border: 1px solid darkcyan;
    border-collapse: collapse;
}
th {
    color: black;
    outline-color: white;
}
.Order {width: 5%}
.Song {width: 25%}
.Artist {width: 20%}
.Album {width: 20%}
.Year {width: 5%}
.Genre {width: 10%}
.Control {width: 5%}

span.Reply {
    color: red;
    position: absolute;
    left: 40%;
}