.ActionButton{
    background-color: mediumseagreen;
    color: white;
    outline: none;
}

@keyframes MyAnimation
{
    from { background-color: dimgrey; transform: skewX(0deg) }
    to { background-color: lightgrey; transform: skewX(90deg) }
}

tbody tr.Filtered {
    animation: MyAnimation 2s;
}