.Hall {
  border: 2px solid darkcyan;
  width: 300px;
  margin-left: 5px;
  padding: 10px;
}
.Available {
  color: green;
  margin-right: 20px;
}
.Booked {
  color: red;
  margin-right: 20px;
}
.HallRoom {
  border: 4px solid darkgray;
  width: 235px;
  margin: 20px;
}
