body {
  overflow-x: hidden;
}
a {
  color: white;
  text-decoration: none;
}
div#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.active {
  padding-bottom: 7px;
  border-bottom: 2px solid cyan;
  text-decoration: darkcyan;
  text-shadow: mediumseagreen 1px 0 7px;
}
.App-header {
  background-color: #282c34;
  min-height: calc(5vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.App-footer {
  background-color: #282c34;
  min-height: calc(5vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  padding-top: 10px;
}
.App-logo {
  background-color: dimgrey;
  min-height: calc(7vh);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0;
}
.BurgerMobile {
  display: block;
  background-color: #282c34;
  padding: 0.6em;
}
.BurgerWeb {
  display: none;
}
.AppHeaderMobile {
  display: none;
}
img.Burger {
  background-color: gray;
}
@media only screen and (min-width: 1400px) {
  .App-header{
    font-size: 1.6em;
  }
  .App-footer {
    font-size: 1.4em;
  }
}
@media only screen and (max-width: 1400px) {
  .App-header{
    font-size: 1.5em;
  }
  .App-footer {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 960px) {
  .App-header {
    font-size: 1.4em;
  }
  .App-footer {
    font-size: 1.1em;
  }
}
@media only screen and (max-width: 760px) {
  .App-header {
    font-size: 1.2em;
  }
  .App-footer {
    font-size: 0.9em;
  }
}
@media only screen and (max-width: 500px) {
  .App-header {
    font-size: 1em;
  }
  .App-footer {
    font-size: 0.8em;
  }
}